In [1]:
import anndata as ad
from pyhere import here

adata = ad.read_h5ad(here("artifacts/demo/cytodata.h5ad"))

In [3]:
adata.obs.head()

               pop_name  pop_id  subject sample_id
cell_0_pop_1_0    pop_1       0  control         0
cell_1_pop_1_0    pop_1       0  control         0
cell_2_pop_1_0    pop_1       0  control         0
cell_3_pop_1_0    pop_1       0  control         0
cell_4_pop_1_0    pop_1       0  control         0